@tailwind base;
@tailwind components;
@tailwind utilities;

.fixed-img {
  background: url('https://images.unsplash.com/photo-1487174244970-cd18784bb4a4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1473&q=80');
  background-size: cover;
  background-position: center center;
}

.active {
  padding: 0.3rem 0 !important;
  border-bottom: 1px solid #64646411 !important;
}
